
h1{
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}

.name-highlight{
    color:orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

p{ 
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.card-footer{
   border: 0
   
}
.btn{
  background-color:yellowgreen;
  padding-right: 5%;
  
}
